


.container { 
    padding: 10px;
}

.logo {
  width: 80px;
}

.navbar-nav .nav-item { 
  display: inline-block;
  list-style-type: none;
  padding-right: 20px;
  vertical-align: middle;
}



.talkbubble { 
    background-color: #FDFEFE ;
    width: 1020px;
    height: 150px;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 2px 2px 4px rgb(65, 63, 63); 
    margin: 20px;
}

.talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 51px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid  #FDFEFE ;
    border-bottom: 13px solid transparent;
    box-shadow: rgb(65, 63, 63); 
  }

  .person { 
      padding: 15px;
      display: flex;
      justify-content: flex-end;
  }

  .card-columns { 
      column-count: 2;
      padding: 15px;
  }
  .item-list { 
    padding: 15px;
  }
  
  .services , .testimonial{ 
    background: #F2F3F4;
  }

  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }

  .card-body { 
      padding: 15px;
  }

  .row { 
      padding: 20px;
  }

  .phone-icon { 
      padding: 15px;
  }

  .p-2 {
      padding: 15px;
  }

  .phone { 
      font-size: x-large;
  }

  .review-sites { 
      padding: 30px;
     
  }
  .review { 
    cursor: pointer;
  }

  .navbar-section { 
    position:fixed;
    top: 0;
    margin:auto;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
  }
  .gap { 
    padding: 4%;
  }

  .buildZoom  { 
    width: 70%;
    padding: 40px;

  }

  .yelp { 
    width: 30%;
    padding: 10px;
  }

  .angies-list { 
    width: 70%;
    padding: 30px;
  }


  .footer { 
    background-color: rgba(0, 0, 0, 0.2);
    padding: 30px;
  
  }

  a {
    font-weight: bolder;
  }

 